{% extends "myadmin/base.html" %}
<!-- 管理员密码修改 -->
{% block mainbody %}
<h3>
    密码修改
</h3>
<form action="" class="form-horizontal" method="POST">
{% csrf_token %}
        <fieldset>
            <legend>密码修改</legend>
            <div class="control-group">
                <label class="control-label" for="input01">新密码：</label>
                <div class="controls">
                    <input type="password" name="new_password" class="input-xlarge" id="input01"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">重复密码：</label>
                <div class="controls">
                    <input type="password" name="new_password2" class="input-xlarge" id="input01"/>
                </div>
            </div>                  
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>
        </fieldset>
    </form>
{% endblock %}